.container {
  position: relative;
  z-index: 10;
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 15;
}

.load {
  display: flex;
  justify-content: center;
}
